@import '../../../../scss/vars';

$sliderHeight: 1.875rem;
$borderRadius: 6px;

.container {
  .date-picker {
    height: 2.3rem;
    background-color: $white;
    border-radius: $borderRadius $borderRadius 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      margin: 0 0.5rem;
      cursor: pointer;
      width: 0;
      height: 0;
      border-top: 0.3rem solid transparent;
      border-bottom: 0.3rem solid transparent;
    }

    .arrow-left {
      @extend .arrow;
      border-right: 0.6rem solid $blue;
    }

    .arrow-right {
      @extend .arrow;
      border-left: 0.6rem solid $blue;
    }

    :global {
      .SingleDatePicker {
        .SingleDatePickerInput {
          display: flex;
          justify-content: center;
          align-items: center;
          .DateInput {
            padding-top: 0.25rem;
            .DateInput_input {
              font-weight: $font-weight-medium;
              padding: 0;
              width: 6rem;
              columns: $limed-spruce;
            }
          }
          .SingleDatePickerInput_calendarIcon {
            padding: 0;
            margin: 0;
          }
          button:focus {
            outline: none;
          }
        }
      }
      .SingleDatePicker_picker {
        z-index: 20;
      }
    }
  }

  .slider-container {
    background-color: $white;
    border-radius: 0 0 $borderRadius $borderRadius;
    border-top: 1px solid $alto;
    .slider-wrapper {
      position: relative;
      margin: -1px 0.625rem 0 0.6rem;
      .slider-mark {
        position: absolute;
        top: 0;
        color: $gray-chateau;
        cursor: default;
      }
      :global {
        .rc-slider {
          height: $sliderHeight;
          background-color: $white;
          padding: 0;
          border-radius: 0 0 $borderRadius $borderRadius;
          .rc-slider-handle {
            width: 1.25rem;
            height: 100%;
            background-color: $blue;
            border: initial;
            margin-top: 0;
            margin-left: -0.625rem;
            z-index: 10;

            font-family: $icon-font !important;
            color: $white;
            font-size: 1.5rem;
            padding-top: 5px;
            text-align: center;
            border-radius: $borderRadius;
            &:before {
              content: "\e90d";
            }
            &:focus {
              box-shadow: initial;
            }
          }
          .rc-slider-rail {
            border-radius: initial;
          }
          .rc-slider-track {
            background-color: initial;
          }
          .rc-slider-rail {
            height: 1px;
            background-color: $alto;
          }
          .rc-slider-dot {
            height: $sliderHeight;
            border-radius: initial;
            width: 1px;
            border: initial;
            border-left: 1px solid $alto;
            bottom: initial;
          }
          // hide marks text because it does not suit us
          .rc-slider-mark {
            display: none;
          }
        }
      }
    }
  }
}
