@import '../../../scss/vars';
@import '../../../scss/mixins';

.wrapper {
  padding: 1.25rem;
  min-height: 6.25rem;
  background: $white;
  box-shadow: 0 0.25rem 0.5625rem 0 $white-shadow;
  border-radius: 0.375rem;
}

.header {
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $dark-gray;
  letter-spacing: -0.52px;
  margin-bottom: 5px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 20px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: stretch;
  align-content: center;
  margin-top: 2px;
  &:hover {
    cursor: pointer;
  }
}

.table-cell {
  font-weight: $font-weight-medium;
  font-size: 10.5px;
  color: $limed-spruce-transparent;
  letter-spacing: 0;
  text-align: center;
  flex: 1;
  margin-right: 2px;
  padding: 3px 2px 0 2px;
  @include bp($tablet-max, 'max') {
    font-size: 9.5px;
    padding: 3px 0 0 0;
  }
}

.table-cell.top-header {
  font-size: 14px;
  padding: 3px 0 0 0;
  @include bp($tablet-max, 'max') {
    font-size: 10px;
  }
}

.table-cell.value {
  background: $aqua-haze;
  font-weight: $font-weight-bold;
  color: $tundora;
  letter-spacing: 0.08px;
}

.table-cell.left-header {
  font-size: 11px;
  text-align: right;
  flex: 1.4;
  @include bp($tablet-max, 'max') {
    font-size: 10px;
    flex: 1.4;
  }
  @include bp($tablet-s-max, 'max') {
    flex: 1;
  }
}

.table-cell.value.status-column {
  color: $white;
  &.partialDataAlert {
    background: $yellow;
  }
  &.partialData {
    background: $froly;
  }
  &.alert {
    background: $alizarin-crimson;
  }
  &.noAlert {
    background: $dark-green;
  }
  &.noRuleset {
    background: $boulder;
  }
  &.awaitingData {
    background: $timberwolf;
  }
}

.table-cell.value.status-column,
.table-cell.top-header.status-column {
  @include bp($tablet-max, 'max') {
    flex: 1.5;
  }
}