@import '../../../scss/vars';

.label {
  font-size: 0.625rem;
  font-weight: $font-weight-medium;
  color: $limed-spruce-transparent;
  letter-spacing: 0;
}

.data-point {
  font-size: 1.75rem;
  letter-spacing: -0.05rem;
  color: $dark-gray;
}
.data-point.below-zero {
  color: $red;
}
.data-point.above-zero {
  color: $green;
}
.data-point.empty-value {
  color: $limed-spruce-transparent;
}

.icon {
  float: left;
  margin-right: 1rem;
  margin-top: 0.25rem;
}