@import '../../../scss/vars';
@import '../../../scss/mixins';

.data-points-wrapper {
   display: flex;
   margin: 1.5rem 0.75rem 1rem 0.75rem;
   justify-content: space-between;
}

.container {
  margin-bottom: 2.375rem;
  .block-wrapper {
    border-radius: 6px;
    background-color: $white;
    padding: 20px 0 0 20px;
  }
}

.fund-profile-providers,
.fund-profile-details {
  width: 10.5rem;
  @include bp($tablet-max, 'max') {
    width: 30%;
  }
}
