@import '../../../scss/vars';

.data-points-wrapper {
   display: flex;
   margin: 1.5rem 0.75rem 1rem 0.75rem;
   justify-content: space-between;
 }

.container {
  margin-bottom: 2rem;
}

.no-chart-data {
  position: absolute;
  top: 43%;
  left: 47%;
  font-size: 1.125rem;
  color: $dusty-gray;
  letter-spacing: -0.0325rem;
  text-align: center;
  font-weight: $font-weight-medium;
}

.chart-container {
  position: relative;
  padding: 1.5rem 1rem;
  background: $white;
  box-shadow: 0 0.25rem 0.5625rem 0 $white-shadow;
  border-radius: 0.375rem;
}

.header {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  color: $dark-gray;
  letter-spacing: -0.0325rem;
}

.chart {
  margin-top: 0.75rem;
}

.history-period {
  font-size: 0.75rem;
  font-weight: $font-weight-medium;
  cursor: pointer;
  color: $havelock-blue;
  margin: 0.25rem 0.3125rem;
  letter-spacing: 0;
  text-align: right;
}
.history-period.selected {
  color: $white;
  background: $dodger-blue;
  border: 0.0625rem solid $dodger-blue;
  border-radius: 0.125rem;
  padding: 0.4375rem 0.4375rem 0.25rem 0.4375rem;
}