@import '../../../scss/vars';

.wrapper {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  min-height: 6.25rem;
  background: $white;
  box-shadow: 0 0.25rem 0.5625rem 0 $white-shadow;
  border-radius: 0.375rem;
  letter-spacing: 0;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 20px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: baseline;
  align-content: center;
  margin-top: 2px;
}

.header {
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $dark-gray;
  letter-spacing: -0.52px;
  margin-bottom: 5px;
  display: flex;
  span:first-child {
    flex: 1;
  }
}

.header-column {
  font-weight: $font-weight-medium;
  font-size: 11px;
  color: $limed-spruce-transparent;
  text-align: center;
  flex: 1;
}

.first-column {
  flex: 2;
}

.column-value {
  background: $aqua-haze;
  font-weight: $font-weight-bold;
  font-size: 10.5px;
  color: $tundora;
  letter-spacing: 0.08px;
  text-align: center;
  padding-top: 3px;
  margin-right: 2px;
  flex: 1;
  &.negative {
    color: $white;
    background: $alizarin-crimson;
  }
  &.positive {
    color: $white;
    background: $dark-green;
  }
  &.partial {
    color: $white;
    background: $yellow;
  }
  &.no-data {
    color: $white;
    background: $timberwolf;
  }
  &.zero {
    color: $white;
    background: $timberwolf;
  }
}

.result-label {
  font-weight: $font-weight-medium;
  font-size: 11px;
  color: $limed-spruce-transparent;
  padding-top: 3px;
}

.this-fund {
  font-weight: $font-weight-medium;
  font-size: 14px;
  color: $dodger-blue;
}

.add-another-wrapper {
  margin-top: 5px;
  cursor: pointer;
}

.add-another {
  margin-left: 5px;
  font-weight: $font-weight-medium;
  font-size: 12px;
  color: $limed-spruce-transparent;
}

.fund-name {
  flex: 5;
  font-weight: $font-weight-medium;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding-top: 6px;
  .remove {
    display: none;
    @media ('hover': none) {
      display: block;
      margin-right: 5px;
    }
  }
  &:hover {
    .remove {
      display: block;
      margin-right: 5px;
    }
  }
}

.fund-name-1 {
  color: $alizarin-crimson;
}

.fund-name-2 {
  color: $dark-green;
}

.fund-name-3 {
  color: $yellow;
}

.stats-interval {
  text-align: right;
  flex: 2;
}