@import '../../../scss/vars';
@import '../../../scss/mixins';

.wrapper {
  padding: 20px;
  min-height: 6.25rem;
  background: $white;
  border-radius: 6px;
  overflow-x: auto;
}

.header-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $dark-gray;
  letter-spacing: -0.52px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 20px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: stretch;
  align-content: center;
  margin-top: 2px;
}

.table-cell {
  font-weight: $font-weight-medium;
  font-size: 10.5px;
  color: $limed-spruce-transparent;
  letter-spacing: 0;
  text-align: center;
  flex: 1.6;
  margin-right: 2px;
  padding: 3px 2px 0 2px;
  min-width: 2rem;
}

.table-cell.top-header {
  font-size: 14px;
  padding: 3px 0 0 0;
}

.table-cell.left-header {
  font-size: 14px;
  margin-right: 5px;
  padding: 3px 0 0 0;
  flex: 1;
  text-align: right;
}

.table-cell.value,
.table-cell.value a {
  font-weight: $font-weight-bold;
  color: $tundora;
  text-decoration: none;
  letter-spacing: 0.08px;
  background: $aqua-haze;
  @include bp($tablet-max, 'max') {
    font-size: 9.5px;
    padding: 3px 0 0 0;
  }
  &.with-data-entry,
  &.with-data-entry a {
    color: $white;
    &.fund-manager,
    &.fund-manager a {
      background-color: $dark-green;
    }
    &.pipe,
    &.pipe a {
      background-color: $dark-blue;
    }
    &.requestor,
    &.requestor a {
      background-color: $dodger-blue;
    }
  }
}

.cell-popover {
  :global(.popover-body) {
    color: $tundora;
    font-size: 12px;
  }
}
