@import '../../../scss/vars';

.container {
  padding: 20px 40px;
  background-color: $white;
  border-radius: 5px;
}

.text-label {
  font-weight: $font-weight-bold;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.percents {
  font-size: 0.8rem;
  padding-right: 5px;
}

.status {
  font-size: 0.7rem;
  color: $gray;
}

.colors-container {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.circle {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 15px;
}

.label-item {
  display: flex;
  align-items: center;
  line-height: 1rem;
}

.labels-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 15px;
}

.interactive {
  &:hover {
    cursor: pointer;
    border: 2px solid $blue;
  }
}

.selected {
  border: 2px solid $blue;
}

.noAlert {
  background-color: $dark-green;
}

.partialData {
  background-color: $froly;
}

.partialDataAlert {
  background-color: $yellow;
}

.alert {
  background-color: $alizarin-crimson;
}

.noRuleset {
  background-color: $boulder;
}

.awaitingData {
  background-color: $timberwolf;
}