@import '../../../scss/vars';

.alert-status {
  font-weight: $font-weight-bold;
  font-size: 12px;
  letter-spacing: 0.11px;
  line-height: 20px;
}

.partialDataAlert {
  color: $yellow;
}

.partialData {
  color: $froly;
}

.alert {
  color: $alizarin-crimson;
}

.noAlert {
  color: $dark-green;
}

.noRuleset {
  color: $boulder;
}

.awaitingData {
  color: $timberwolf;
}