@import '../../../scss/vars';

.alert-period {
  font-weight: $font-weight-regular;
  font-size: 18px;
  letter-spacing: 0.11px;
  line-height: 20px;
}

.alert-period.small-cell {
  font-weight: $font-weight-bold;
  font-size: 10.5px;
  letter-spacing: 0.08px;
}

.noAlert {
  color: $dark-green;
}

.partialData {
  color: $froly;
}

.partialDataAlert {
  color: $yellow;
}

.alert {
  color: $alizarin-crimson;
}

.noRuleset {
  color: $boulder;
}

.awaitingData {
  color: $timberwolf;
}