@import "../../../scss/vars";
@import "../../../scss/mixins";

.container {
  background-color: $white;
  padding: 2rem;
  border-radius: 5px;

  display: flex;

  .col {
    flex: 1 4 104px;
    padding: 0 2.5rem;
    @include bp($tablet-max, 'max') {
      padding: 0 1.5rem;
    }
    white-space: nowrap;
  }

  .firmFund {
    flex: 4 2 400px;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .fund {
      font-weight: $font-weight-bold;
      font-size: 18px;
    }
    .firm {
      font-size: 18px;
      font-weight: $font-weight-light;
    }
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2 3 224px;
    font-size: 20px;
    font-weight: $font-weight-medium;
    text-align: center;
  }

  .noAlert {
    color: $dark-green;
  }

  .partialData {
    color: $froly;
  }

  .alert {
    color: $alizarin-crimson;
  }

  .partialDataAlert {
    color: $yellow;
  }

  .noRuleset {
    color: $boulder;
  }

  .awaitingData {
    color: $timberwolf;
  }

  .stat-icon {
    cursor: pointer;
    padding-left: 16px;
  }
}