@import "../../../scss/vars";

.container {
  text-align: center;
  > div:first-child {
    white-space: nowrap;
    color: $limed-spruce-transparent;
    font-size: 10px;
    padding-bottom: 1.25rem;
  }
  .statistic {
    font-size: 24px;
    padding-bottom: 0.5rem;
  }

  .noAlert {
    color: $dark-green;
  }

  .partialData {
    color: $froly;
  }

  .alert {
    color: $alizarin-crimson;
  }

  .partialDataAlert {
    color: $yellow;
  }

  .noRuleset {
    color: $boulder;
  }

  .awaitingData {
    color: $timberwolf;
  }
}