@import "../../../../scss/vars";
.button_success {
  background-color:$btn-success;
  border: 1px solid white;

  &:hover{
    background-color:$btn-success;
    border: 1px solid white;
  }
}

.button_success_inverse {
  background-color: $white;
  color:$btn-success;
  border:1px solid $btn-success;
}