@import "../../../../scss/vars";
.button {
  font-weight: $font-weight-bold;
  background-color: $btn-primary;
  border: 0.0625rem solid $btn-primary;

  &:hover:not(:disabled):not(.disabled){
    background-color: $btn-primary;
    border-color: $btn-primary;
    opacity: 1;
  }
}

.buttonInverse {
  font-weight: $font-weight-bold;
  background-color: transparent;
  color: $btn-primary;
  border: 0.0625rem solid $btn-primary;
}

.listItem {
  border-bottom: 1px solid $alto;
  font-size: 0.9rem;

  padding-left: 0.25rem;
  padding-right: 0;

  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
}

.menu {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}