@import "../../../../scss/vars";
.circle_danger {
  :global {
    .circle-item{
      position: relative;
      &--value {
        background-color: $btn-danger;
      }
    }
  }
}

.circle_danger_inverse {
  :global {
    .circle-item{
      &--value {
        background-color: $red-transparent;
        color: $btn-danger;
        border:1px solid $btn-danger;
      }
    }
  }
}

.dangerImage {
  position: absolute;
  top: 0;
  right: 0;
}