@import "../../../../scss/vars";
.circle_success {
  :global {
    .circle-item{
      position: relative;
      &--value {
        background-color: $btn-success;
      }
    }
  }
}

.circle_success_inverse {
  :global {
    .circle-item{
      &--value {
        background-color: $green-transparent;
        color: $btn-success;
        border:1px solid $btn-success;
      }
    }
  }
}

.successImage {
  position: absolute;
  top: 0;
  right: 0;
}