@import "../../../../scss/vars";
.circle_danger {
  :global {
    .circle-item{
      position: relative;
      &--value {
        background-color: $yellow-transparent;
      }
    }
  }
}

.circle_danger_inverse {
  :global {
    .circle-item{
      &--value {
        background-color: $yellow-transparent;
        color: $yellow;
        border:1px solid $yellow;
      }
    }
  }
}

.dangerImage {
  position: absolute;
  top: 0;
  right: 0;
}

.questionMark {
  position: absolute;
  top: 2px;
  right: 5px;
}