@import "../../../../scss/vars";
.circle_primary {
  :global {
    .circle-item{
      &--value {
        background-color: $btn-primary;
      }
    }
  }
}

.circle_primary_inverse {
  :global {
    .circle-item{
      &--value {
        background-color: transparent;
        color: $btn-primary;
        border:1px solid $btn-primary;
      }
    }
  }
}