@import "../../scss/vars";


.add_new_fund {
  :global {
    .suggestions {
      color:$gray-super-dark;
      font-size:12px;
      height: 20px;
    }
    .funds-wrapper{
      h4{
        font-size: 16px;
        margin:2px 0 0;
      }
      .item--entity {
        padding:6px;
        display:block;
        cursor: pointer;

        span {
          display: inline;
          font-size:14px;
          color: $gray-super-dark;
        }

        h5 {
          font-size:14px;
          text-transform: uppercase;
          color: $gray-super-dark;
          display: inline-block;
          margin-right: 10px;

        }
      }
      ul {
        padding:0;
      }
      >ul {
        padding: 0 2px;
        height: 290px;
        li{
          list-style-type: none;
          display:inline-block;
          &:hover {
            background: $aqua-haze-transparent;
          }

          span {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.scroll {
  position: absolute;
  right: 49%;
  top: 20%;
}