@import '../../scss/vars';

.content {
  display: flex;
  & > * {
    flex: 1;
  }

  .report {
    margin-right: 30px;
  }

  .settings {
    display: flex;
    flex-direction: column;
    .buttonPanel {
      button {
        margin-left: 10px;
      }
    }
  }

  :global {
    .dataReporting__header {
      margin-bottom: 16px;

      .dateReporting__header_title {
        font-size: 18px;
        font-weight: $font-weight-bold;
      }
    }
  }
}