@import "../../scss/vars";

.history {
  padding: 20px;
  background-color: $white;
  min-height: 100px;

  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.02);
  border-radius: 6px;

  .header {

  }

  .content {
    .yearRow {
      margin: 5px 0;
    }

    .item {
      flex: 1;
      height: 23px;
      min-width: 30px;
      text-align: center;
      margin: 0 2px;

      display: flex;
      justify-content: center;
      align-items: center;
      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &.success {
        background-color: $green;
        color: white;
        font-size: 10px;
        font-weight: $font-weight-bold;
      }
      &.fail {
        background-color: red;
        color: white;
        font-size: 10px;
        font-weight: $font-weight-bold;
      }
      &.inactive {
        background-color: $aqua-haze;
        color: white;
        font-size: 10px;
        font-weight: $font-weight-bold;
      }
    }
    .yearItem {
      text-align: left;
      justify-content: flex-start;
      color: $limed-spruce-transparent;
      font-size: 11px;
      font-weight: $font-weight-medium;
      flex-grow: 0.6;
    }
    .quarterItem {
      flex-grow: 3;
    }
  }
}