.settingsHeader {
  position: relative;
  height: 22px;
  margin-bottom: 15px;
  font-size: 0.75rem;
  .editButton {
    float: right;

    img {
      width: 15px;
      vertical-align: top;
    }
  }
  .sendButton {
    float: right;
    margin-right: 1rem;
    img {
      width: 15px;
      vertical-align: top;
    }
  }
}