@import "../../../scss/vars";

// $green: '#26A96B';
// $yellow: '#F5A623';
// $red-transparent: '#EF6F7E';
// $red: '#E81D36';
// $light-gray: '#D3D0CB';
// $dark-gray: '#7D7D7D';

:export {
  green: $dark-green;
  yellow: $yellow;
  redtransparent: $red-froly;
  red: $alizarin-crimson;
  lightgray: $timberwolf;
  darkgray: $boulder;
  shark: $shark;
  alizarin-crimson: $alizarin-crimson
}

.container {
  display: flex;
  align-items: center;

  :global {
    svg {
      .c3-chart-arc {
        stroke-width: 1px;
      }
    }
  }

  &.rightLegend {
    .legend {
      height: 100%;
    }
    .chart {
      width: 75%;
    }
  }
  &.bottomLegend {
    flex-direction: column;
    .legend {
      align-self: flex-start;
      width: 100%;
      padding-left: 2rem;
    }
    .chart {
      height: 75%;
    }
  }

  .chart {
    display: flex;
    justify-content: center;
    .value {
      font-weight: $font-weight-regular;
      font-size: 35px;
      fill: $alizarin-crimson;
      color: $alizarin-crimson;
      letter-spacing: 0;
      text-align: center;
    }
    .title {
      font-weight: $font-weight-regular;
      font-size: 14px;
      color: $shark;
      letter-spacing: 0;
      text-align: center;
    }
    .subtitle {
      font-weight: $font-weight-light;
      font-size: 10px;
      color: $shark;
      letter-spacing: 0;
      text-align: center;
    }
  }
}
