@import '../../../../scss/vars';

.show-hide-modal-wrapper {
  margin-top: -28px;
  margin-bottom: -14px;
}

.section-title {
  font-size: 10px;
  color: $dusty-gray;
  padding: 14px 0 15px;
  letter-spacing: 0.1px;
}

.section-choices {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.choice-wrapper {
  width: 50%;
}