@import "../../../../scss/vars";
.ui_sub_header {
  padding-bottom: 0.75rem;
  background: $aqua-haze;
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  color: $dark-gray;
  letter-spacing: -0.0325rem;
}

.ui_sub_header_inverse {

}

.test {
  float: right;
}