@import '../../../../scss/vars';

.settings-modal {
  :global {
    .modal-dialog {
      width: 464px;
    }
  }
}

.settings-modal-content {
  background: $aqua-haze;
  :global {
    .modal-body {
      padding-top: 15px;
      padding-bottom: 28px;
    }

    .modal-header {
      font-weight: $font-weight-bold;
      color: $dark-gray;
      letter-spacing: -0.52px;
      h5 {
        font-size: 18px;
      }
    }
  }
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 48px;
}

.subtitle {
  font-weight: $font-weight-medium;
  font-size: 12px;
  color: $limed-spruce-transparent;
  letter-spacing: 0;
  margin-bottom: 15px;
}

.checkbox {
  font-weight: $font-weight-regular;
  font-size: 12px;
  letter-spacing: 0.11px;
  line-height: 20px;
  padding-bottom: 3px;
}

.description {
  font-weight: $font-weight-regular;
  font-size: 12px;
  color: $limed-spruce-transparent;
  letter-spacing: 0;
  line-height: 18px;
  padding-left: 24px;
  margin-bottom: 28px;
}

.question {
  padding-right: 5px;
}

.warning {
  color: $monza;
  font-weight: bold;
  font-size: 12px;
  padding-top: 10px;
}

.button-save {
  padding: 16px 42px 13px;
}