@import "../../scss/vars";

.dropdown {
  cursor: pointer;

  > button {
    display: flex;
    align-items: center;

    color: $dodger-blue;
    background-color: initial;
    border: 0;
    padding: 0;
    &:active, &:hover, &:focus {
      background: initial!important;
      color: $dodger-blue!important;
      outline: none!important;
      box-shadow: none!important;
    }

    .attribute-title {
      font-size: 12px;
      margin-right: 0.375rem;
      font-weight: 700;
    }

    :global(.icon-gear) {
      font-size: 16px;
    }
  }

  :global(.dropdown-menu) {
    padding: 0;
    button {
      height: 2.125rem;
      cursor: pointer;
      font-size: 12px;
      color: $tundora;

      &:global(.disabled) {
        color: $dusty-gray;
      }

      &:active, &:focus {
        background: initial!important;
        outline: none!important;
        box-shadow: none!important;
      }
      &:hover {
        background-color: $blue;
        color: $white;
        cursor: pointer;
      }
      &:hover:focus {
        background-color: $blue!important;
        color: $white;
        cursor: pointer;
      }
    }

    button:not(:last-child) {
      border-bottom: 1px solid $alto;
    }
  }
}
