@import "../../scss/vars";

:export {
  green: $dark-green;
  hawkes-blue: $hawkes-blue;
  havelock-blue: $havelock-blue;
  limed-spruce-transparent: $limed-spruce-transparent
}

.container {
  height: 320px;
}
