@import "../../scss/vars";

.wrapper {
  border-radius: 6px;
  background-color: $white;
  width: 50%;
  margin-bottom: 0.5rem;
  padding: 20px 0 0;

  &.full-width {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;

    font-size: 18px;
    font-weight: $font-weight-bold;
    color: $dark-gray;
    letter-spacing: -0.52px;

    .fund-count-info {
      font-size: 14px;
      padding-right: 1rem;
    }
  }

  .chart {
    padding-right: 1rem;
  }
}
