@import "../../scss/vars";
@import "../../scss/mixins";

.attribute-grid {
  line-height: normal;
}

.expander {
  width: 40px;
  font-size: 32px;
  font-weight: $font-weight-light;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 !important;
}

.attribute-name {
  @include bp($tablet-max, 'max') {
    width: 224px;
  }
  font-size: 14px;
}

.attribute-funds-monitor {
  font-size: 18px;
}

.attribute-funds-alerted {
  font-size: 18px;
  color: $alizarin-crimson;
}

.expanded {
  .expander {
    background-color: $porcelain !important;
  }
}

.card {
  background-color: white;
  border-radius: 4px;
  margin: 20px 0 40px;
  padding: 20px 0;
  position: relative;
}

.donuts-row {
  display: flex;
  .table-block {
    flex: 1;
    padding: 0 15px;

    :global(.j-filter) {
      padding-top: 0;
    }
  }
}

.sticky-block {
  background-color: $aqua-haze;
}

.filter-wrapper {
  padding: 0 0 1.875rem;
}

.charts-row {
  display: flex;
  justify-content: space-between;

  .chart-wrapper {
    border-radius: 6px;
    background-color: $white;
    width: 50%;
    margin-bottom: 1.875rem;

    &.wrapper {
      padding: 20px 0 0;
    }

    &.full-width {
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 0 20px 20px;

      font-size: 18px;
      font-weight: $font-weight-bold;
      color: $dark-gray;
      letter-spacing: -0.52px;

      .fund-count-info {
        font-size: 14px;
        padding-right: 1rem;
      }
    }

    .chart {
      padding-right: 1rem;
    }
  }

  .left {
    margin-right: 1rem;
  }
  .right {
    margin-left: 1rem;
  }
}

.cardTitle {
  position: absolute;
  font-size: 20px;
  left: 8%;
  top: 40px;
}

.expandSign {
  padding: 8px 10px;
}
