@import '../../../scss/vars';

.container {
  margin: 0.5rem 0;
}

.view-link {
  font-weight: $font-weight-light;
  font-size: 0.75rem;
  color: $dodger-blue;
  letter-spacing: 0.006875rem;
}

.image {
  margin: 0.5rem;
}