@import "../../../scss/vars";

.container {
  display: flex;
  flex-direction: row;

  .action {
    &:first-child {
      margin-left: 0;
    }

    margin-left: 5px;
  }

  .dangerButton {
    font-weight: $font-weight-bold;
  }
}