@import "../../../scss/vars";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .item {
    flex: 1;
    margin-right: 20px;
    color: $dusty-gray;

    &.disabled {
      opacity: 0.65;
    }

    .title {
      font-size: 0.625rem;
    }

    .title-select {
       font-size: 0.875rem;
    }

    .input {
      margin-top: 0.375rem;
      color: $dodger-blue;
      &::placeholder {
        color: $dusty-gray;
        font-size: 14px;
        font-weight: $font-weight-regular;
      }
    }

    :global {
      .SingleDatePicker {
        .SingleDatePickerInput_clearDate {
          top: calc(50% - 3px);
          svg {
            fill: $dusty-gray;
          }
        }
        .DateInput {
          &.DateInput__disabled {
            background-color: $white;
          }
          .DateInput_input {
            &::placeholder {
              color: $dusty-gray;
              font-size: 14px;
              font-weight: $font-weight-regular;
            }
            &.DateInput_input__disabled {
              background-color: $white;
            }
          }
          input {
            color: $dodger-blue;
            font-size: 14px;
            margin-top: 0.375rem;
            height: 1.3125rem;
            padding: 0;
          }
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

:global {
  #effective_start_date {
    padding: 0 !important;
  }

  #effective_end_date {
    padding: 0 !important;
  }
}