@import "../../../scss/vars";

:global {
  .popover {
    color: $dark-gray;
    .popover-body {
      text-align: justify;
      font-size: 12px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  .block {
    margin-bottom: 1rem;
    .blockTitle {
      font-size: 18px;
      font-weight: $font-weight-bold;
      color: $dark-gray;
      letter-spacing: -0.52px;
      margin-bottom: 1rem;
      img {
        margin-left: 0.75rem;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.status {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $dusty-gray;

  .statusText {
    text-transform: capitalize;
    padding-left: 5px;

    &.active {
      color: $green;
    }
  }
}