@import "../../../scss/vars";

.ruleset-status {
  font-weight: $font-weight-bold;
}

.active {
  color: $green;
}

.inactive {
  color: $grey;
}

.incomplete {
  color: $red;
}

.active_with_changes {
  color: $yellow;
}