@import "../../../scss/vars";
@import "../../../scss/mixins";

table {
  &:global(.ap-data-table) {
    > tbody {

      > tr {
        > td {
          &:global(.action-cell) {
            width: initial!important;
          }
        }
        &.firstRow {
          > td {
            border-top: 0.0625rem solid $dodger-blue;
            &:global(.primary) {
              border-top: none;
              border-bottom: 0.0625rem solid $white;
            }
          }
        }
        &.secondRow {
          > td {
            position: relative;
            border-top: none;
            text-align: left;
            padding-left: 2rem !important;
            @include bp($tablet-max, 'max') {
              padding-left: 0.5rem !important;
            }
            .formulaTitle {
              color: $dusty-gray;
              font-size: 16px;
              span {
                &.formula {
                  padding-right: 13px;
                  font-size: 12px;
                }
              }
              span {
                &.bracket {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }

      &:nth-last-child(2) {
        > tr:last-child {
          &.secondRow {
            > td {
              border-bottom: 0.0625rem solid $dodger-blue;
            }
          }
        }
      }

      > tr {
        &.secondRow {
          .or {
            position: absolute;
            background: $dodger-blue;
            color: white;
            left: calc(50% - 5px);
            bottom: -10px;
            padding: 3px 5px 0;
            display: flex;
            align-items: center;
          }
        }
      }


    }
  }
}