@import "../../../scss/vars";
@import "../../../scss/mixins";

.rulesList {
  padding: 0;

  :global {
    .ui-table {
      > div {
        padding-top: initial;
      }
    }

    table {
      &:global(.ap-data-table) {
        :global(.ui-button--clear) {
          &:focus {
            outline: none;
          }
        }
        > tbody {
          > tr {

            td {
              padding-left: 0;
              padding-right: 0;
              .react-numeric-input {
                input {
                  width: 100%;
                }
              }
            }
            th {
              padding-right: 0 !important;
              text-align: right;
            }
            th, td {
              &.w-min:local(.indexColumn) {
                width: 54px;
              }
              &:local(.column) {

                .input-label {
                  input {
                    &.ui-input {
                      margin: initial;
                    }
                  }
                }

                text-align: left;
                &:local(.period) {
                  padding-left: 2rem;
                  @include bp($tablet-max, 'max') {
                    padding-left: 0.5rem;
                  }
                  min-width: 10.375rem;
                }
                &:local(.threshold) {
                  padding-left: 3rem;
                  @include bp($tablet-max, 'max') {
                    padding-left: 0.5rem;
                  }
                  min-width: 12.875rem;
                }
                &:local(.type) {
                  padding-left: 3rem;
                  @include bp($tablet-max, 'max') {
                    padding-left: 0.5rem;
                  }
                  min-width: 12.875rem;
                }
                &:local(.amount) {
                  padding-left: 3rem;
                  @include bp($tablet-max, 'max') {
                    padding-left: 0.5rem;
                  }
                  min-width: 13.0625rem;
                }
                &:local(.exclusions) {
                  padding-left: 2.25rem;
                  @include bp($tablet-max, 'max') {
                    padding-left: 0.5rem;
                  }
                  min-width: 11.4375rem;
                }
                &:local(.perfShare) {
                  padding-left: 2.25rem;
                  @include bp($tablet-max, 'max') {
                    padding-left: 0.5rem;
                  }
                  min-width: 11.9375rem;
                }
              }
            }
            .react-numeric-input input {
              width: 100%;
              padding: 5px;
              text-align: right;
              float: right;
            }

            .oos-response-date {
              width: 7.5rem;
              input.DateInput_input {
                padding: 0 24px 0 2px;
                font-size: 0.75rem;
              }
              .SingleDatePickerInput .SingleDatePickerInput_calendarIcon {
                bottom: 3px;
                img {
                  width: 14px;
                }
              }
            }

            .b-panel-center {
              position: relative;
              top: 3px;
            }
          }
        }
      }
    }
  }
}