@import '../../../scss/vars';

.modalClass {
  :global {
    .modal-dialog {
      max-width: 80%;
    }
  }
}

.modalContent {
  background-color: $aqua-haze;
  :global {
    .modal-body {
      padding-top: 0;
      padding-bottom: 16px;
    }

    .modal-header {
      font-weight: $font-weight-bold;
      color: $dusty-gray;
      letter-spacing: 0;
      h5 {
        font-size: 10px;
      }
    }
  }
}

:global(.scrollable-table-body) {
  height: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
}

:global(.fixed-table-header) {
  position: absolute;
  z-index: 5;
  background: $porcelain;
}
