@import '../../../scss/vars';

.modalClass {
  :global {
    .modal-dialog {
      max-width: 80%;
    }
  }
}

.modalContent {
  background-color: $aqua-haze;
  :global {
    .modal-body {
      padding-top: 0;
      padding-bottom: 16px;
    }
  }
}

:global(.scrollable-table-body) {
  height: 28rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

:global(.fixed-table-header) {
  position: absolute;
  background: $porcelain;
  z-index: 5;
}

.buttons {
  padding-top: 32px;
}
