@import '../../../../scss/vars';

.container {
  height: 450px;

  :global {
    .anychart-range-selector {
      &.anychart-range-selector-inside {
        display: flex;

        button:focus {
          outline: initial;
        }

        .anychart-button {
          font-size: 0.75rem;
          height: 1.6rem    ;
          font-weight: $font-weight-medium;
          cursor: pointer;
          color: $havelock-blue;
          background: transparent;
          border: none;
          margin: 0.25rem 0.3125rem;
          letter-spacing: 0;
          text-align: right;

          &.anychart-button-checked {
            color: $white;
            background: $dodger-blue;
            border: 0.0625rem solid $dodger-blue;
            border-radius: 0.125rem;
          }
        }
      }
    }
  }
}