@import '../../../../scss/vars';

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;

  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $dark-gray;
  letter-spacing: -0.52px;

  .report-type-button {
    font-size: 0.75rem;
    height: 1.6rem    ;
    font-weight: $font-weight-medium;
    cursor: pointer;
    color: $havelock-blue;
    background: transparent;
    border: none;
    margin: 0.25rem 0.3125rem;
    letter-spacing: 0;
    text-align: right;
    padding-top: 4px;

    &.report-type-button-checked {
      color: $white;
      background: $dodger-blue;
      border: 0.0625rem solid $dodger-blue;
      border-radius: 0.125rem;
    }

    &:hover, &:active, &:focus, &:visited {
      outline: initial;
    }
  }
}

.missing-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .item {
    padding: 0.15rem 0.5rem 0;
    border: 0.0625rem solid $white;
    border-radius: 0.125rem;
    color: white;
    font-size: 12px;
    font-weight: $font-weight-medium;
    line-height: 18px;
    margin-right: 8px;
    margin-bottom: 4px;
    cursor: pointer;
  }
}

.item-popover {
  :global(.popover-body) {
    color: $limed-spruce;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.006875rem;
    line-height: 1.25rem;
  }
}